In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
dataset=pd.read_csv('../datasets/Churn_Modelling.csv')
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
dataset=dataset.drop(['RowNumber','CustomerId','Surname'],axis=1)
dataset

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
gender_labelencoder=LabelEncoder()
dataset['Gender']=gender_labelencoder.fit_transform(dataset['Gender'])
dataset

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
geo_onehotencoder=OneHotEncoder()
encoded=geo_onehotencoder.fit_transform(dataset[['Geography']])
columns=geo_onehotencoder.get_feature_names_out(['Geography'])
geo_df=pd.DataFrame(encoded.toarray(),columns=columns)
dataset=dataset.drop(['Geography'],axis=1)
dataset=pd.concat([dataset,geo_df],axis=1)
dataset

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [6]:
import pickle
with open('gender_labelencoder.pkl','wb') as file:
    pickle.dump(gender_labelencoder,file)
with open('geo_onehotencoder.pkl','wb') as file:
    pickle.dump(geo_onehotencoder,file)

In [7]:
X=dataset.drop(['EstimatedSalary'],axis=1)
y=dataset['EstimatedSalary']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

standardscaler=StandardScaler()
X_train=standardscaler.fit_transform(X_train)
X_test=standardscaler.transform(X_test)

In [8]:
with open('standardscaler.pkl','wb') as file:
    pickle.dump(standardscaler,file)

In [9]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Input
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [10]:
model=Sequential([
    Input(shape=(X_train.shape[1],)),
    Dense(64,activation='relu'),
    Dense(32,activation='relu'),
    Dense(1)
]    
)

In [11]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [12]:
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=['mae'])

In [13]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [14]:
model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 100266.9844 - mae: 100266.9844 - val_loss: 98557.8984 - val_mae: 98557.8984
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 101039.0391 - mae: 101039.0391 - val_loss: 97194.0391 - val_mae: 97194.0391
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 97539.7344 - mae: 97539.7344 - val_loss: 93648.0938 - val_mae: 93648.0938
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 93720.3672 - mae: 93720.3672 - val_loss: 87645.2500 - val_mae: 87645.2500
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 86465.5156 - mae: 86465.5156 - val_loss: 79676.9219 - val_mae: 79676.9219
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 77914.1328 - mae: 77914.1328 - val_loss: 71188.9297 - val_mae: 71188.9297
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 70762.3125 - mae: 70762.3125 - val_loss: 63490.6758 - val_mae: 63490.6758
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 63670.3984 - mae: 63670.3984 - val_loss: 57634.2031 - val_mae: 57634.2031
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 57204.9297 - mae: 57204.9297 - val_loss: 54027.0234 - val_mae: 54027.0234
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 54044.5391 - mae: 54044.5391 - val_loss: 52081.2461 - val_mae: 52081.2461
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 52178.9688 - mae: 52178.9688 - val_loss: 51176.1094 - val_mae: 51176.1094
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50446.3398 - mae: 50446.3398 - val_loss: 50810.3945 - val_mae: 50810.3945
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51080.5820 - mae: 51080.5820 - val_loss: 50657.0078 - val_mae: 50657.0078
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50991.8320 - mae: 50991.8320 - val_loss: 50595.1445 - val_mae: 50595.1445
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50132.0547 - mae: 50132.0547 - val_loss: 50559.6680 - val_mae: 50559.6680
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50477.7109 - mae: 50477.7109 - val_loss: 50520.2812 - val_mae: 50520.2812
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50340.0625 - mae: 50340.0625 - val_loss: 50487.7031 - val_mae: 50487.7031
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49929.6641 - mae: 49929.6641 - val_loss: 50467.3867 - val_mae: 50467.3867
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50016.1797 - mae: 50016.1797 - val_loss: 50448.7148 - val_mae: 50448.7148
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50171.6523 - mae: 50171.6523 - val_loss: 50425.3086 - val_mae: 50425.3086
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50375.7227 - mae: 50375.7227 - val_loss: 50408.9961 - val_mae: 50408.9961
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49850.5664 - mae: 49850.5664 - val_loss: 50392.5781 - val_mae: 50392.5781
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49747.4609 - mae: 49747.4609 - val_loss: 50371.5977 - val_mae: 50371.5977
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50044.3906 - mae: 50044.3906 - val_loss: 50359.5039 - val_mae: 50359.5039
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49548.3828 - mae: 49548.3828 - val_loss: 50348.9492 - val_mae: 50348.9492
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50075.1758 - mae: 50075.1758 - val_loss: 50340.8594 - val_mae: 50340.8594
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49445.5664 - mae: 49445.5664 - val_loss: 50343.6484 - val_mae: 50343.6484
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49908.9375 - mae: 49908.9375 - val_loss: 50334.0000 - val_mae: 50334.0000
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49771.6250 - mae: 49771.6250 - val_loss: 50331.2422 - val_mae: 50331.2422
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49948.3047 - mae: 49948.3047 - val_loss: 50324.3867 - val_mae: 50324.3867
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49640.4961 - mae: 49640.4961 - val_loss: 50320.7070 - val_mae: 50320.7070
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49456.0977 - mae: 49456.0977 - val_loss: 50313.2305 - val_mae: 50313.2305
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49530.6133 - mae: 49530.6133 - val_loss: 50310.8984 - val_mae: 50310.8984
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49885.2500 - mae: 49885.2500 - val_loss: 50311.2109 - val_mae: 50311.2109
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49390.1406 - mae: 49390.1406 - val_loss: 50305.0039 - val_mae: 50305.0039
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49023.1953 - mae: 49023.1953 - val_loss: 50289.0078 - val_mae: 50289.0078
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50021.7188 - mae: 50021.7188 - val_loss: 50283.1758 - val_mae: 50283.1758
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49786.1523 - mae: 49786.1523 - val_loss: 50290.2266 - val_mae: 50290.2266
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49692.0156 - mae: 49692.0156 - val_loss: 50292.2109 - val_mae: 50292.2109
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49486.9648 - mae: 49486.9648 - val_loss: 50282.9258 - val_mae: 50282.9258
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50231.3594 - mae: 50231.3594 - val_loss: 50288.6953 - val_mae: 50288.6953
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49438.9570 - mae: 49438.9570 - val_loss: 50290.0000 - val_mae: 50290.0000
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49223.4688 - mae: 49223.4688 - val_loss: 50290.8750 - val_mae: 50290.8750
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49711.1055 - mae: 49711.1055 - val_loss: 50294.1055 - val_mae: 50294.1055
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49660.5742 - mae: 49660.5742 - val_loss: 50280.0195 - val_mae: 50280.0195
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49783.3516 - mae: 49783.3516 - val_loss: 50275.4531 - val_mae: 50275.4531
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49634.1523 - mae: 49634.1523 - val_loss: 50273.3516 - val_mae: 50273.3516
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49981.6914 - mae: 49981.6914 - val_loss: 50275.0391 - val_mae: 50275.0391
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48806.5742 - mae: 48806.5742 - val_loss: 50282.5742 - val_mae: 50282.5742
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48872.1992 - mae: 48872.1992 - val_loss: 50282.8164 - val_mae: 50282.8164
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49099.8984 - mae: 49099.8984 - val_loss: 50278.3945 - val_mae: 50278.3945
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49645.6719 - mae: 49645.6719 - val_loss: 50281.9531 - val_mae: 50281.9531
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49498.8906 - mae: 49498.8906 - val_loss: 50282.3125 - val_mae: 50282.3125
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48955.3281 - mae: 48955.3281 - val_loss: 50278.1445 - val_mae: 50278.1445
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49790.8242 - mae: 49790.8242 - val_loss: 50277.9336 - val_mae: 50277.9336
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49664.7227 - mae: 49664.7227 - val_loss: 50277.2266 - val_mae: 50277.2266
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48816.2070 - mae: 48816.2070 - val_loss: 50280.5391 - val_mae: 50280.5391

In [15]:
model.save('model.keras')

In [16]:
test_loss,test_mae=model.evaluate(X_test,y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51112.3438 - mae: 51112.3438